*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
  
}
body {
  padding: 60px !important;
  background-color: #eee2dc !important;
}

h1{
    text-align: center;

}
h2{
  text-align: center;
}

input {
  font-size: 1.4rem;
  width: 100%;
  border-radius: 12px;
  border-width: 5px;
    background-color: #fff0f2 !important;

}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.5rem;
}

.card{
  align-content: center;
  overflow: hidden;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 420px) {
  .cardd {
    width: 60rem !important;
    height: 8rem !important;
  }
  .pic{
    width: 100% !important;
    height: 100% !important;
  }
  .hidden-mobile {
    display: none;
  }
}

